body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}
.otak {
  color: brown;
  background-color: aqua;
}
.navigasi {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  max-width: 1200px;
}
.list-menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
li {
  margin: 20px;
  font-size: 20px;
}
.logo {
  align-content: center;
  padding-left: 20px;
  color: black;
  font-size: 50px;
  font-weight: 900;
  transition: transform 1s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
a:hover {
  color: blue;
}
.halaman {
  display: flex;
  align-items: center;
  background-image: url(bg.webp);
  background-size: cover;
}
.teks {
  padding: 70px;
  color: white;
}
.gambar {
  padding-right: 200px;
  margin: 50px;
  margin-left: 50px;
}
.judul {
  margin-bottom: 30px;
  font-size: 70px;
}
.deskripsi {
  font-size: 50px;
}
.tombol {
  background-color: brown;
}
.tombol:hover {
  background-color: aqua;
}
/*Section 2*/
.guys {
  background-size: cover;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  list-style: none;
}
.judul2 {
  text-align: center;
  font-size: 70px;
  padding: 30px;
  margin-bottom: 30px;
}
/*section*/
.judul3 {
  font-size: 50px;
  text-align: center;
}
.menu2 {
  font-size: 20px;
}
